<!DOCTYPE html>
<html data-ng-app="challengeApp">
<head>
    <title>Jobsity</title>

   <!-- inject:css -->
    <link rel="stylesheet" href="../assets/sass/main.css">
    <link rel="stylesheet" href="../../bower_components/select2/select2.css">
    <link rel="stylesheet" href="../../bower_components/angular-input-stars-directive/angular-input-stars.css">
    <link rel="stylesheet" href="../../bower_components/angularjs-datepicker/src/css/angular-datepicker.css">
    <!-- endinject -->
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a data-ng-href="#/home" class="navbar-brand">Home</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-ng-href="#/movies">Movies</a>
                    </li>
                    <li>
                        <a data-ng-href="#/actors">Actor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div data-ng-view></div>
    </div>


<!-- inject:js -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/select2/select2.js"></script>

    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>

    <script src="../../bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="../../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="../../bower_components/bootbox/bootbox.js"></script>
    <script src="../../bower_components/ngBootbox/dist/ngBootbox.min.js"></script>

    <script src="../../bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>

    <script src="../../bower_components/angular-input-stars-directive/angular-input-stars.js"></script>
    <script src="../../bower_components/angular-websql/angular-websql.min.js"></script>

    <script src="../../bower_components/angularUtils-pagination/dirPagination.js"></script>

    <script src="../../bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>

    <script src="../app.js"></script>
    <script src="../routing.js"></script>
    <script src="../filters.js"></script>

    <script src="../services/databaseService.js"></script>

    <script src="../controllers/indexController.js"></script>

    <script src="../controllers/actor/actorController.js"></script>
    <script src="../controllers/actor/actorDetailController.js"></script>
    <script src="../controllers/actor/actorNewController.js"></script>
    <script src="../controllers/actor/actorEditController.js"></script>
    <script src="../services/actorService.js"></script>

    <script src="../controllers/movie/movieController.js"></script>
    <script src="../controllers/movie/movieDetailController.js"></script>
    <script src="../controllers/movie/movieNewController.js"></script>
    <script src="../controllers/movie/movieEditController.js"></script>
    <script src="../controllers/movie/movieEditActorsController.js"></script>
    <script src="../services/movieService.js"></script>


<!-- endinject -->
</body>
</html>