<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/actors">Actors</a></li>
    <li class="active">Detail</li>
</ul>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{actor.first_name | capitalize }} {{actor.last_name | capitalize }}</h3>
    </div>
    <div class="panel-body">
        <p ng-show="actor.gender  == 'f'"><strong>Gender:</strong> Female</p>

        <p ng-show="actor.gender  == 'm'"><strong>Gender:</strong> Male</p>

        <p><strong>Birth Date:</strong> {{ actor.birth_date }}</p>

        <hr/>
        <div class="list-group col-md-6" ng-show="movies.length">
            <a class="list-group-item">
                <strong>MOVIES</strong>
            </a>
            <a ng-repeat="movie in movies" href="#/movies/detail/{{movie.id}}" class="list-group-item">
                {{movie.name | capitalize}}
            </a>
        </div>
        <div class="alert alert-danger col-md-4" ng-show="!movies.length">
            {{actor.first_name | capitalize }} {{actor.last_name | capitalize }} didn't act in any movie.
        </div>
    </div>
</div>