<ul class="breadcrumb">
    <li><a data-ng-href="#">Home</a></li>
    <li><a data-ng-href="#/actors">Actors</a></li>
    <li class="active">Detail</li>
</ul>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{actor.first_name | capitalize }} {{actor.last_name | capitalize }}</h3>
    </div>
    <div class="panel-body">
        <p data-ng-show="actor.gender  == 'f'"><strong>Gender:</strong> Female</p>

        <p data-ng-show="actor.gender  == 'm'"><strong>Gender:</strong> Male</p>

        <p><strong>Birth Date:</strong> {{ actor.birth_date }}</p>

        <hr/>

        <div data-ng-hide="load == true">
            <div class="list-group col-md-6" data-ng-show="movies.length">
                <a class="list-group-item">
                    <strong>MOVIES</strong>
                </a>
                <a data-ng-repeat="movie in movies" data-ng-href="#/movies/detail/{{movie.id}}" class="list-group-item">
                    {{movie.name | capitalize}}
                </a>
            </div>
            <div class="alert alert-danger col-md-4" data-ng-show="!movies.length">
                {{actor.first_name | capitalize }} {{actor.last_name | capitalize }} didn't act in any movie.
            </div>
        </div>
    </div>
</div>