<div class="col-md-6" ng-show="movies.length" ng-repeat="item in movies">
    <div class="jumbotron" style="padding: 20px">
        <div class="row">
            <div class="col-md-10">
                <h2 style="margin-top: 0">{{item.name | capitalize }}</h2>
                <span style="display: block">Director: {{ item.director | capitalize }}</span>
                <span>Year: {{ item.release_year}}</span>
            </div>

            <p><a class="btn btn-primary btn-md" href="#/movies/detail/{{item.id}}">Detail</a></p>
        </div>
    </div>
</div>


<div class="jumbotron" ng-hide="movies.length">
    <p>There are no movies added. To add a new one click on the link below.</p>
    <p><a class="btn btn-primary btn-lg" href="#/movies/create">Movie</a></p>
</div>