<ul class="breadcrumb">
    <li><a data-ng-href="#">Home</a></li>
    <li><a data-ng-href="#/movies">Movies</a></li>
    <li class="active" data-ng-show="!movie.id">New movie</li>
    <li class="active" data-ng-show="movie.id">Edit movie</li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Movie</h3>
            </div>
            <form name="movieForm" novalidate>
                <div class="panel-body">
                    <div class="form-group col-md-12">
                        <label for="name" class="col-md-2 control-label require">Name</label>

                        <div class="col-md-10">
                            <input type="text" data-ng-model="movie.name" class="form-control" id="name" name="name"
                                   required data-ng-pattern="/^[a-zA-Z\s]*$/">
                            <span data-ng-show="movieForm.name.$error.required && movieForm.name.$dirty"
                                  class="help-block error">This field is required.</span>
                             <span data-ng-show="movieForm.name.$error.pattern"
                                   class="help-block error">This field only should contain letters.</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="overview" class="col-md-2 control-label require">Overview</label>

                        <div class="col-md-10">
                            <textarea type="text" data-ng-model="movie.overview" class="form-control" id="overview"
                                      name="overview" required></textarea>
                           <span data-ng-show="movieForm.overview.$invalid && movieForm.overview.$dirty"
                                 class="help-block error">This field is required.</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="release_year" class="col-md-2 control-label require">Release year</label>

                        <div class="col-md-10">
                            <select id="release_year" data-ng-model="movie.release_year"
                                    data-ng-options="n for n in [] | range:1950:2015" class="form-control"
                                    required></select>
                            <span data-ng-show="movieForm.release_year.$invalid && movieForm.release_year.$dirty"
                                  class="help-block error">This field is required.</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="gross_income" class="col-md-2 control-label require">Gross income</label>

                        <div class="col-md-10">
                            <input type="number" data-ng-model="movie.gross_income" class="form-control"
                                   id="gross_income"
                                   name="gross_income" required>
                             <span data-ng-show="movieForm.gross_income.$error.required && movieForm.gross_income.$dirty"
                                   class="help-block error">This field is required.</span>
                            <span data-ng-show="movieForm.gross_income.$error.number"
                                  class="help-block error">This field only should contain numbers.</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="director" class="col-md-2 control-label require">Director</label>

                        <div class="col-md-10">
                            <input type="text" data-ng-model="movie.director" class="form-control" id="director"
                                   name="director"
                                   required data-ng-pattern="/^[a-zA-Z\s]*$/">
                            <span data-ng-show="movieForm.director.$error.required && movieForm.director.$dirty"
                                  class="help-block error">This field is required.</span>
                            <span data-ng-show="movieForm.director.$error.pattern"
                                  class="help-block error">This field only should contain letters.</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="genre" class="col-md-2 control-label require">Genre</label>

                        <div class="col-md-10">
                            <select ui-select2="{width: '100%'}" multiple name="genre" id="genre"
                                    data-ng-model='movie.genre'
                                    required>
                                <option data-ng-repeat="item in genreOptions" data-ng-bind="item.name"
                                        value="{{ item.id }}"></option>
                            </select>
                             <span data-ng-show="movieForm.genre.$invalid && movieForm.genre.$dirty"
                                   class="help-block error">This field is required.</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="picture" class="col-md-2 control-label require">Picture</label>

                        <div class="col-md-10">
                            <input type='file' id="picture" name="picture" data-ng-model='file' base-sixty-four-input
                                   data-ng-change="getImage()" accept="image/*" data-ng-required='!movie.picture'>
                             <span data-ng-show="movieForm.picture.$invalid && movieForm.picture.$dirty"
                                   class="help-block error">This field is required.</span>

                            <div data-ng-if="movie.picture" class="thumbnail col-md-4">
                                <img data-ng-src="data:image/png;base64,{{movie.picture}}">
                            </div>
                            <div data-ng-if="!movie.picture" class="thumbnail col-md-4">
                                <img data-ng-src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 movie-actors-container">
                        <label class="col-md-2 control-label require">Actors</label>

                        <div class="col-md-5">
                            <select data-placeholder="Search" ui-select2="{width: '100%'}"
                                    data-ng-model='selectedActor' data-ng-change="addActor()">
                                <option value=""></option>
                                <option data-ng-repeat="item in actors"
                                        value="{{ item.id }}">{{ item.first_name | capitalize }} {{ item.last_name |
                                    capitalize}}
                                </option>
                            </select>

                            <div class="movie-actors-list">
                                <table class="table table-striped table-hover" data-ng-show="movieActors.length">
                                    <tbody>
                                    <tr data-ng-repeat="item in movieActors">
                                        <td>
                                            <i data-ng-if="!movie.id" class="fa fa-remove"
                                               data-ng-click="removeActorFromMovie($index)"></i>
                                            <i data-ng-if="movie.id" class="fa fa-remove"
                                               data-ng-click="removeActorFromMovie(item.id)"></i>
                                        </td>
                                        <td><a data-ng-href="#/actors/edit/{{item.id}}">
                                            {{ item.first_name | capitalize }} {{ item.last_name | capitalize}}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="alert alert-danger" data-ng-show="!movieActors.length">
                                <p>There aren't actors added to this movie.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6 col-lg-offset-2">
                            <a type="reset" class="btn btn-default" data-ng-href="#/movies">Cancel</a>
                            <button type="submit" class="btn btn-primary" data-ng-show="movie.id"
                                    data-ng-click="updateMovie(movieForm.$valid)"
                                    data-ng-disabled="movieForm.$invalid">Update
                            </button>
                            <button type="submit" class="btn btn-primary" data-ng-show="!movie.id"
                                    data-ng-click="createMovie(movieForm.$valid)"
                                    data-ng-disabled="movieForm.$invalid">Create
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

