<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#/movies">Movies</a></li>
    <li class="active">Detail</li>
</ul>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ movie.name | capitalize }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <p><strong>Director:</strong> {{ movie.director | capitalize }}</p>

                <p><strong>Release year:</strong> {{ movie.release_year }}</p>

                <p><strong>Gross income:</strong> {{ movie.gross_income }}</p>

                <p><strong>Genre:</strong>
                    <span class="label label-primary" style="margin-left: 5px" ng-repeat="item in movie.genre">{{ item }}</span>
                </p>

                <p><strong>Overview:</strong>
                    {{ movie.overview }}
                </p>
            </div>

            <div class="col-md-5">
                <h3 ng-if="movie.rating">Average: {{ movie.rating }} with {{ movie.votes_count }} votes</h3>
                <input-stars max="10" ng-model="last_rate" ng-change="updateRating(last_rate)"></input-stars>
            </div>
        </div>

        <hr/>
        <div class="list-group col-md-6" ng-show="actors.length">
            <a class="list-group-item">
                <strong>ACTORS</strong>
            </a>

            <div style="max-height: 350px; overflow-y: auto">
                <a ng-repeat="actor in actors" href="#/actors/detail/{{actor.id}}" class="list-group-item">
                    {{actor.first_name | capitalize}} {{actor.last_name | capitalize }}
                </a>
            </div>
        </div>

        <div class="alert alert-danger col-md-8" ng-hide="actors.length">
            <p>There aren't actors added to this movie. If you want to add one click here
                <a href="#/movies/edit/{{movie.id}}/actors" class="alert-link">Add actor</a>.</p>
        </div>
    </div>
</div>